// Font_Type

// Font_Family
$Inter: 'Inter', sans-serif;
$Lilita: 'Lilita One', cursive;

// Font_Weight
$Font_Reg: 400;

//Font_Size
$Font_16: 1rem; // 16px
$Font_20: 1.25rem; // 20px
$Font_24: 1.5rem; // 24px
$Font_32: 2rem; // 32px
$Font_48: 3rem; // 48px
$Font_64: 4rem; // 64px